{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Flasky - Login {% endblock %}

{% block page_content %}
<div>
    <h1>Login</h1>
</div>
<div class="col-md-4" >
    {{ wtf.quick_form(form) }}    
</div>
<div class="col-md-4">
    <button type="button" class="btn btn-info" >
        <p style="color: black;" >
            new user?
            <a href="{{ url_for('auth.register') }}" style="color: black;  text-decoration: none ;">
                click here to register
            </a>
        </p>
    </button>
    <button type="button" class="btn btn-info" >
        <p style="color: black;" >
            Forgot your password?
            <a href="{{ url_for('auth.password_reset_request') }}" style="color: black;  text-decoration: none ;">
                Click here to reset it
            </a>
        </p>
    </button>
</div>

{% endblock %}